/*
darkgreen: #5b9e99
lightgreen: #9dd3d2
lightpink: #de95ab
pink: #f75f94
snowwhite: #FFFCFF;
orange: #FA7E61
lightorange: #FEE1C7
paradisepink: #F44174

========================

light-orange: #f86f69
orange: #db625d
*/

body{
    background: #f8efea !important;
    padding: 0 15px;
}
.container .machine-title{
    font-family: 'Poppins', sans-serif;
}
.container .modal-class{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
}
/*-------------MODAL AREA RESTRITA ---------------*/
.modal-restrict-area,
.modal-telephone-area{
    z-index: 99999 !important;
}
/*-----MACHINE TITLE------*/
.machine-title-box{
    position: absolute;
    top: -60px;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.machine-title{
    color: #000;
    font-weight: bold;
    animation: animate 2s linear infinite;
    width: max-content;
    text-align: center;
    margin: auto;
    background-color: #87aa72;
    padding: 35px;
    border-radius: 15px;
    border: 4px solid white;
}
@keyframes animate{
    0%, 100%{
        color: #fff;
        /*filter: blur(1px);*/
        text-shadow: 0 0 10px #de95ab,
                     0 0 20px #de95ab,
                     0 0 30px #de95ab,
                     0 0 40px #de95ab,
                     0 0 50px #de95ab;
    }

    50%{
        color: #fff;
        /*filter: blur(1px);*/
        text-shadow: 0 0 10px #F44174,
                     0 0 20px #F44174,
                     0 0 30px #F44174,
                     0 0 40px #F44174,
                     0 0 50px #F44174;
    }
}

/*-------MACHINE --------*/
.machine-content{
    position: relative;
    background-color: #f86f69;
    margin-top: 80px;
    border: 2px solid;
    border-color: #f98883 #994440  #994440  #f98883;

    text-align: center;
    padding-right: 15px;
    border-radius: 5px;
}

/*------MACHINE PRODUCTS---------*/

.machine-products{
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFCFF;
    border: 2px solid;
    border-color: #ffb2af;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 50px 10px;
    padding: 40px 0 25px 0;
}
.machine-products .product{
    border: 1px solid;
    width: 210px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    text-align: center;
}
.machine-products .product:hover{
    border: 1px solid #5b9e99;
}

.machine-products .product .total-product{
    position: absolute;
    border-radius: 50px;
    border: 1px solid red;
    padding: 5px 13px;
    right: 0;
}
.machine-products .product .product-value{
    width: max-content;
    border: 1px solid black;
    margin: auto;
    border-bottom: none;
    padding: 0 10px;
}

/*------MACHINE OPTIONS ---------*/
.machine-content .machine-options{
    margin-top: 50px;
    background-color: #fff;
    border-top-right-radius: 15px;
    border: 2px solid #ffb2af;
    padding-bottom: 45px;
}
.machine-content .machine-options .keyboard-info{
    margin-top: 30px;
} 
.machine-content .machine-options .keyboard-product-info{
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    border-top: 2px solid #b9b9b9;
    border-left: 2px solid #b9b9b9;
}


.machine-content .machine-options .keyboard-product-info .input{
    margin: auto;
}
.machine-content .machine-options .keyboard-product-info .input p{
    background-color: #fff;
    color: #df983e;
    font-size: 30px;
    margin: 0;
    height: 55px;
    border-radius: 10px;
}
.machine-content .machine-options .keyboard-product-info .info{
    text-align: left;
}
.machine-content .machine-options .keyboard-product-info .info p{
    margin-bottom: 0;
}
.machine-content .machine-options .keyboard-buttons{
    margin: 10px auto auto auto;
    background-color: #88a972;
    width: max-content;
    padding: 15px;
    border-radius: 15px;
    border-left: 2px solid #c7d9ba;
    border-top: 2px solid #c7d9ba;
}
.machine-content .machine-options .keyboard-buttons button{
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin: 2px 5px;
}
.machine-content .machine-options .keyboard-buttons button:hover{
    background-color:#dfdede ;
}

.machine-content .machine-options .keyboard-payment{
    background-color: #f76e68;
    margin: 15px 0;
    border-radius: 15px;
    border-left: 2px solid #ffb2af;
    border-top: 2px solid #ffb2af;
}
.machine-content .machine-options .keyboard-payment .total-balance{
    background-color: #fff;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-options {
    padding-bottom: 20px;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-options button{
    background-color: unset;
    border: none;
    font-size: 50px;
    color: #fff;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-options button:nth-child(2){
    font-size: 20px;
    border: 5px solid #fff;
    border-radius: 5px;
    margin-left: 8px;
    height: 48px;
    padding: 0 7px;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-options button:hover,
.machine-content .machine-options .keyboard-payment .keyboard-payment-options button:nth-child(2):hover{
    color: #000;
    border-color: #000;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-values{
    margin: auto;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-values button{
    margin: 2px 0;
    border-radius: 10px;
}
.machine-content .machine-options .keyboard-payment .keyboard-payment-values button:hover{
    background-color: #dfdede;
}
/*---------TAKE PRODUCTS----------*/
.machine-content .take-products{
    margin-top: 30px;
    margin-bottom: 30px;
}
.machine-content .take-products .remove-products{
    color: #000;
    font-size: 50px;
}
.machine-content .take-products .remove-products i{
    background-color: #fff;
    padding: 5px 180px 25px;
    border-radius: 10px;
    border: 2px solid #ffb2af;
}
.machine-content .take-products .money{
    margin-top: auto;
}
.machine-content .take-products .money i{
    background-color: #8acdf8;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    font-size: 35px;
}
.machine-bottom{
    height: 25px;
    background-color: #000;
    margin: 0 -14px;
    border-top: 4px solid #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-between;
}
.machine-bottom .machine-foot{
    background-color: #000;
    width: 25px;
    height: 40px;
    margin: 0 40px;
    border-radius: 5px;
}