.external-options{
    display: flex;
    justify-content: end;

}
.external-options .modal-class{
    width: max-content;
    margin: 10px 5px;
}
/*--HOME MODAL RESTRICT AREA--*/
.modal-restrict-area .area-restric-home{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.modal-restrict-area .area-restric-home button{
    border: 1px solid #f86f69;
    background-color: #f86f69;
    color: white;
    padding: 10px;
    width: 115px;
    border-radius: 10px;
    cursor: pointer;
}
.modal-restrict-area .area-restric-home button:hover{
    background-color: #e8655f;
}
.modal-restrict-area .area-restric-home button i{
    font-size: 35px;
}
/*----VENDOR RESTRICT AREA-----*/
.modal-restrict-area .title-vendor-login{
    display: flex;
    text-align: center;
    color: #e8655f;
    margin-bottom: 10px;
}
.modal-restrict-area .title-vendor-login h3{
    margin: auto;
}
/*----VENDOR LOGIN----*/
.modal-restrict-area .vendor-login{
    display: none;
    text-align: center;
}

.modal-restrict-area .vendor-login .info-vendor-login{
    display: flex;
    flex-direction: column;
}
.modal-restrict-area .vendor-login .info-vendor-login input{
    width: 250px;
    margin: 5px auto;
}
.modal-restrict-area .vendor-login .info-vendor-login button{
    width: max-content;
    margin: 10px auto;
    border-radius: 10px;
}
/*-----VENDOR OPTIONS-----*/
.modal-restrict-area .vendor-options{
    display: none;
}
.modal-restrict-area .vendor-options .options{
    justify-content: space-around;
    text-align: center;
    display: flex;
}
.modal-restrict-area .vendor-options p{
    margin-bottom: 0;
}
.modal-restrict-area .vendor-options button{
    border: 1px solid #f86f69;
    background-color: #f86f69;
    color: white;
    padding: 10px;
    width: 115px;
    height: 99px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
}
.modal-restrict-area .vendor-options button:hover{
    background-color: #e8655f;
}
/*---VENDOR REMOVE-----*/
.modal-restrict-area .vendor-remove-value,
.modal-restrict-area .vendor-add-value{
    display: none;
}

/*-----SUPPLIER-------*/
.modal-restrict-area .supplier-login,
.modal-restrict-area .supplier-options,
.modal-restrict-area .supplier-insert,
.modal-restrict-area .supplier-edit,
.modal-restrict-area .supplier-remove{
    display: none;
}
/*----VENDOR LOGIN----*/
.modal-restrict-area .supplier-login{
    text-align: center;
}
.modal-restrict-area .supplier-login .info-supplier-login{
    display: flex;
    flex-direction: column;
}
.modal-restrict-area .supplier-login .info-supplier-login input{
    width: 250px;
    margin: 5px auto;
}
.modal-restrict-area .supplier-login .info-supplier-login button{
    width: max-content;
    margin: 10px auto;
    border-radius: 10px;
}
/*----VENDOR OPTIONS----*/
.modal-restrict-area .supplier-options .options{
    display: flex;
    justify-content: space-around;
}
.modal-restrict-area .supplier-options .options div {
    text-align: center;
}
.modal-restrict-area .supplier-options .options div p{
    margin-bottom: 0;
}
.modal-restrict-area .supplier-options .options div button{
    background-color: #e8655f;
    color: #fff;
    border: none;
    width: 115px;
    height: 99px;
    border-radius: 10px;
    font-size: 35px;
}

/*----VENDOR INSERT / EDIT / REMOVE  ----*/
.modal-restrict-area .supplier-insert p,
.modal-restrict-area .supplier-edit p,
.modal-restrict-area .supplier-remove p{
    text-align: center;
}
.modal-restrict-area .supplier-insert button,
.modal-restrict-area .supplier-edit button,
.modal-restrict-area .supplier-remove button{
    margin: auto;
}
.modal-restrict-area .supplier-insert .supplier-insert-info,
.modal-restrict-area .supplier-edit .supplier-edit-info,
.modal-restrict-area .supplier-remove .supplier-remove-info{
    width: 300px;
    text-align: center;
    margin: auto;
}
.modal-restrict-area .supplier-insert .supplier-insert-info button,
.modal-restrict-area .supplier-edit .supplier-edit-info button,
.modal-restrict-area .supplier-remove .supplier-remove-info button{
    margin-top: 10px;
    border-radius: 10px;
}
.modal-restrict-area .supplier-insert .supplier-insert-info div,
.modal-restrict-area .supplier-edit .supplier-edit-info div,
.modal-restrict-area .supplier-remove .supplier-remove-info div{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.modal-restrict-area .supplier-insert .supplier-insert-info div label,
.modal-restrict-area .supplier-edit .supplier-edit-info div label,
.modal-restrict-area .supplier-remove .supplier-remove-info div label{
    text-align: center;
}