@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body{
    background:#010615 !important;
}
.container .machine-title{
    font-family: 'Poppins', sans-serif;
}

/*-----MACHINE TITLE------*/
.machine-title{
    color: #000;
    font-weight: bold;
    margin: 30px 0;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%, 100%{
        color: #fff;
        filter: blur(1px);
        text-shadow: 0 0 10px #00b3ff,
                     0 0 20px #00b3ff,
                     0 0 30px #00b3ff,
                     0 0 40px #00b3ff,
                     0 0 50px #00b3ff;
    }

    50%{
        color: #fff;
        filter: blur(1px);
        text-shadow: 0 0 10px #0094d5,
                     0 0 20px #0094d5,
                     0 0 30px #0094d5,
                     0 0 40px #0094d5,
                     0 0 50px #0094d5;
    }
}
/*-----MACHINE DISPLAY-----*/
.machine-display{
    background-color: #060c21;
    border: 2px solid;
    padding: 15px 15px 80px 15px;
    border-color:#772aff #772aff #2196F3 #2196F3;

}

.machine-display:before{
    content: '';
    position: absolute;
    background: #fff;
    z-index: -2;
    filter: blur(50px);
    width: 100%;
    height: 100%;
    margin-top: -17px;
    margin-left: -17px;
}
.machine-display:before,
.machine-display:after{
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

/*----MACHINE PRODUCTS-----*/
.machine-products{
    height: 100%;
    margin: 15px;
    border: 3px solid;
    background: #fff;
    padding: 10px;
    border-radius: 15px;
}

/*------MACHINE PRODUCTS---------*/
.machine-products{
    display: flex;
    flex-wrap: wrap;
}
.machine-products .product{
    border: 1px solid;
    width: 210px;
    margin: 5px auto;
}

.machine-products .product:hover{
    border: 1px solid red;
}

/*------MACHINE OPTIONS------*/

.machine-options .keyboard-payment{
    background-color: #CCC;
    margin: auto;
}

/*------MACHINE KEYBOARD-------*/
.keyboard-product{
    text-align: center;
}
.keyboard-product .keyboard-info{
    background: #010615;
    margin: 0 50px 10px 50px;
    color: #fff;
    padding: 0;
    text-align: left;
    border: 1px solid;
    border-color:#772aff #772aff #2196F3 #2196F3;
}

.keyboard-product .keyboard-info:before{
    content: '';
    position: absolute;
    background: #fff;
    filter: blur(50px);
    width: 75%;
    height: 67%;
    z-index: -2;
    margin-left: -15px;
    margin-top: -19px;
}
.keyboard-product .keyboard-info:before,
.keyboard-product .keyboard-info:after{
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.keyboard-product .keyboard-info p{
    margin: 10px 20px;
}
.keyboard-product .keyboard-buttons {
    margin: auto;
    width: auto;
    text-align: center;
    background-color: #CCC;
    padding: 20px;;
}
.keyboard-product .keyboard-buttons button{
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 5px 2px;
}
.keyboard-product .keyboard-buttons button.cancel{
    color: red;
}
.keyboard-product .keyboard-buttons button.confirm{
    color: green;
}
.keyboard-product .keyboard-buttons button:hover{

}


/*------MACHINE WALLET ------*/
.machine-content .wallet{
    width: 100%;
    color: #fff;
    justify-content: end;
    display: flex;
    margin-top: 20px;
}
.machine-content .wallet .wallet-intern{
    display: flex;
    justify-content: end;
    border-radius: 15px;
    background-color: #570000;
    color: #fff;
    padding: 10px;
    font-size: 20px;

}
.machine-content .wallet .wallet-intern p {
    margin: 0;
}
.machine-content .wallet .wallet-intern .fas{
    margin-right: 10px;
    font-size: 30px;
    color: #51CE69;
    text-shadow: 2px 2px 15px #071702;
}